<html>
    <body>
        <center><h1>The server Operating system : {{ ansible_distribution }} </h1>
                <br>
                <h1> the Server Hostname : {{ ansible_hostname }} </h1>
        </center>
    </body>
</html>